.card {
  border: 2px solid $color-3;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 5px 0;
  flex: 1 0 25%;

  h4 {
    margin-top: 0;
  }

  .img {
    height: 100px;
    width: 160px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
