.countries-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  .card {
    flex: 1 0 20%;
    min-width: 200px;
    max-width: 300px;
    border: 2px solid $color2;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;

    img {
      height: 100px;
      width: 160px;
      object-fit: cover;
    }
  }
}
