.countries {
  text-align: center;
  display: flex;
  flex-wrap: wrap;

  .card {
    height: 200px;
    width: 320px;
    margin: 5px;
    position: relative;

    &:hover .country-infos {
      opacity: 1;
      transform: scaleY(1);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .country-infos {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.627);
      opacity: 0;
      transition: 0.2s;
      transform: scaleY(0);
    }
  }
}
