.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/main.jpg) center/cover;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 45px rgba(165, 165, 165, 0.9);

  img {
    height: 34px;
    margin-right: 10px;
  }
}
