@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap");

$font-1: "Josefin Sans", sans-serif;

$color-1: #61dafb;
$color-2: salmon;
$color-3: #282c34;
$white: rgb(243, 243, 243);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}

textarea {
  resize: none;
}
