$color-1: #61dafb;
$color-2: rgb(79, 82, 79);
$color-3: rgb(92, 250, 255);

@mixin verticalCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: $color-1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  color: $color-2;
}

li {
  list-style-type: none;
}
